body {
  @include font('Roboto', 300);
  color: $primary;
  font-size: 16px;
}

main {
  @media (max-width: $screen-s) {
    // padding-top: 140px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1785px;
  }

  &--medium {
    max-width: 1630px;
  }
}

.suptitle {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent;

  @include a($screen-s) {
    margin-bottom: 10px;
  }
}

.title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;

  @include a($screen-m) {
    font-size: 45px;
  }

  @include a($screen-s) {
    font-size: 36px;
    margin-bottom: 30px;
  }

  @include a($screen-xs) {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.heading {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.btn {
  padding: 0 5px 6px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid $hero;
  transition: color .3s;

  &:hover {
    color: $hover;
  }
}

.btn-book {
  padding: 19px 30px;
  border: 2px solid #FFD011;
  border-radius: 10px;
  font-weight: 700;
  transition: background .3s;

  &:hover {
    background: rgba($secondary, 0.2);
  }

  &:focus,
  &:active {
    // background: radial-gradient(100% 100% at 50% 0%, #ffea8d 0%, #FFBE43 100%);
    border-color: $primary;
    color: #ebebeb;
  }

  @include a($screen-m) {
    position: relative;
    z-index: 4;
  }

  @include a($screen-s) {
    padding: 14px 30px;
  }

  &--2 {
    background: radial-gradient($gradient-2);
    color: #ffffff;
    border-color: transparent;

    &:hover {
      background: radial-gradient($gradient-2-hover);
    }
  }
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  transition: fill .3s;
}

img {
  object-fit: contain;
  object-position: center center;
}

.logo {
  flex-shrink: 0;
  display: flex;
}

.logo__img {
  width: 88px;
  height: 30px;
  object-fit: contain;

  @media (max-width: $screen-xs) {
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

a,
button, input {
  outline-color: $accent;
  transition: background-color .3s;
  transition: color .3s;
}

.burger {
  display: none;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  background: none;
  position: relative;
  transition: all 0.3 ease-in;

  @include a($screen-m) {
    display: flex;
    z-index: 4;
  }

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: '';
    }

    span,
    &::before,
    &::after {
      display: block;
      height: 2px;
      width: 30px;
      background-color: #ffffff;
      margin: 0 auto;
      position: absolute;
      transition: all 0.3s ease;
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
    }
  }
}

.header__nav--active .burger__item::before {
  transform: rotate(45deg);
}

.header__nav--active .burger__item::after {
  transform: rotate(-45deg);
}

.header__nav--active .burger__item span {
  transform: scale(0);
}

.header__nav--active .header__list {
  transform: translateY(0);
}

.slick-dots {
  display: flex;
  justify-content: center;


  li {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $header;
		cursor: pointer;
		transition: background-color .3s;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&.slick-active {
			background-color: $accent;
		}
  }
}