.svg-arrow-left-dims {
	width: 8px;
	height: 12px;
}

.svg-arrow-right-dims {
	width: 8px;
	height: 12px;
}

.svg-arrow-right-btn-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-top-dims {
	width: 14px;
	height: 14px;
}

.svg-facebook-dims {
	width: 15px;
	height: 15px;
}

.svg-linkedin-dims {
	width: 15px;
	height: 15px;
}

.svg-play-icon-dims {
	width: 11px;
	height: 14px;
}

.svg-twitter-dims {
	width: 15px;
	height: 15px;
}

.svg-youtube-dims {
	width: 15px;
	height: 11px;
}

