$primary: #153257;
$secondary: #FFF9DD;
$accent: #0D846E;
$hero: #25BC8F;
$header: #1EAB81;
$gradient-1: 100% 100% at 50% 0%, #FFD200 0%, #FFBE43 100%;
$gradient-1-hover: 100% 100% at 50% 0%, #ffde49 0%, #ffc352 100%;
$gradient-2: 100% 100% at 50% 0%, #2FAC86 0%, #0D846E 100%;
$gradient-2-hover: 100% 100% at 50% 0%, #41c59e 0%, #12a88d 100%;
$hover-bg: rgba($secondary, 0.2);
$hover: #126149;

$screen-l: 1200;
$screen-m: 991;
$screen-s: 768;
$screen-xs: 576;

@mixin font($ff, $fw) {
	font-family: $ff, sans-serif;
	font-weight: $fw;
}

@mixin a($width) {
	@media only screen and (max-width: $width+ "px") {
		@content;
	}
}

@mixin line-c($lines) {
	display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}